**.DS_Store
#we manually add .icns files to the repo
icon.icns
#
icons/102x102.png
icons/106x320.png
icons/128x128.png
icons/16x16.png
icons/170x170.png
icons/200x200.png
icons/20x20.png
icons/212x640.png
icons/24x24.png
icons/250x250.png
icons/256x256.png
icons/32x32.png
icons/48x48.png
icons/4x4.png
icons/512x512.png
icons/640x212.JPG
icons/64x64.png
icons/73x73.png
icons/85x85.png
icons/8x8.png
icons/96x96.png
#we manually add .icns files to the repo
square-banner.icns
#
docs/
